name: Pact-Rust FFI Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  # Generic
  FORCE_COLOR: '1'
  CLICOLOR: '1'
  # Rust
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: '1'

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ ubuntu-latest, windows-latest, macos-15, macos-15-intel ]
        rust: [ nightly ]
    env:
      pact_do_not_track: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Conan
        uses: conan-io/setup-conan@09566912d661de90608308897a4d513e850c04e8  # v1.2.0
        with:
          cache_packages: true

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}

      - name: Install cbindgen and just
        uses: taiki-e/install-action@main
        with:
          tool: cbindgen,just

      - name: Install macOS dependencies
        if: runner.os == 'macOS'
        run: |
          brew install \
            shared-mime-info \
            gettext

      - name: Run C consumer examples
        working-directory: c/consumer
        run: just run

      - name: Run C provider verification
        working-directory: c/provider
        run: just run

      - name: Run mock_server_logs test
        run: cargo test -p pact_ffi returns_mock_server_logs -- --nocapture --include-ignored
        working-directory: rust
